.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d9c09e;
  color: white;
  width: 100%;
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #d9c09e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.teamName {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navRight {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 2rem;
}



/* navbar.module.css */
/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d9c09e;
    color: white;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #d9c09e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navLeft {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .teamName {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navRight {
    display: flex;
    align-items: center;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2rem;
  }

*/
  
